/* body {
  background-color: blue;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}

@media (max-width: 36rem) {
  body {
    background-color: yellow;
    color: black;
  }
}

@media (max-width: 75rem) {
  body {
    background-color: purple;
    color: white;
  }
}

@media (max-width: 87.5rem) {
  body {
    background-color: white;
    color: black;
  }
}

 */

html,body{
    height:100%;
    width:100%;
}
body{
    background-color: blue;
}
@media(min-width: 75rem) and (max-width: 87.5rem){
   body{background-color: white;}
}
@media(min-width:36rem) and (max-width:75rem){
    body{background-color: rgb(110, 5, 136);}
}
@media(min-width:1rem) and (max-width: 36rem){
    body{background-color: yellow;}
}
